@import url('https://fonts.googleapis.com/css?family=Shrikhand');

 body {
  background:url("http://www.hdwallpapery.com/static/images/sunshine-twitter-background_ySkbOWv.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

h1 {
  font-family: 'Shrikhand', cursive;
  color: orange;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family: 'Shrikhand', cursive;
  color: orange;
  text-align: center;
  font-size: 40px;
}

table {
  margin: auto;
}


.grid td {
  height: 100px;
  width: 100px;
  border :8px dotted steelblue;
  border-radius: 25px;
  position: relative;
  margin: 0 auto;

}
